In [1]:
import requests
import matplotlib.pyplot as plt
import pandas as pd
import json

### Questions
Make an API request that returns the months where "fire" was searched in 2016. Which month had the most searches?

Make an API request that returns all the times a query was run more than 100 times in a month. How many times did this occur?

Make another API request that returns all the times "codes" was searched more than 100 times in a month. How many times did this occur?

Make an API request that returns the entire Top 500 Monthly Searches dataset. Make a chart that shows the number of times "maps" was searched in a month across the entire time frame.

### Stretch Questions
Make an API request to pull back all the data from hubNashville (311) Service Requests (check to see how many rows you can return in a single request). Compare it to the Top 500 Monthly Searches data set. What do you observe? (This is open-ended, there isn't a specific answer for this one)

Find 2 new data sets on data.nashville.gov, make API requests to pull the data, and do an analysis that combines the data sets.

### Bonus
Socrata is used by many cities, states, and federal organizations. Find additional datasets through Socrata's Open Data Network and do an analysis comparing them to Nashville or each other.

### Question 1: Make an API request that returns the months where "fire" was searched in 2016. Which month had the most searches?

In [2]:
endpoint = 'https://data.nashville.gov/resource/fuaa-r5cm.json'

params= {
    'query_text': 'fire',
    'year':'2016'
}

response = requests.get(endpoint, params = params)

In [3]:
response

In [4]:
res = response.json()
res

[{'month_name': 'January',
  'year': '2016',
  'query_count': '19',
  'query_text': 'fire'},
 {'month_name': 'February',
  'year': '2016',
  'query_count': '35',
  'query_text': 'fire'},
 {'month_name': 'March',
  'year': '2016',
  'query_count': '32',
  'query_text': 'fire'},
 {'month_name': 'April',
  'year': '2016',
  'query_count': '26',
  'query_text': 'fire'},
 {'month_name': 'May',
  'year': '2016',
  'query_count': '24',
  'query_text': 'fire'},
 {'month_name': 'June',
  'year': '2016',
  'query_count': '31',
  'query_text': 'fire'},
 {'month_name': 'July',
  'year': '2016',
  'query_count': '24',
  'query_text': 'fire'},
 {'month_name': 'August',
  'year': '2016',
  'query_count': '47',
  'query_text': 'fire'},
 {'month_name': 'September',
  'year': '2016',
  'query_count': '36',
  'query_text': 'fire'},
 {'month_name': 'October',
  'year': '2016',
  'query_count': '38',
  'query_text': 'fire'},
 {'month_name': 'November',
  'year': '2016',
  'query_count': '32',
  'query_text': 'fire'},
 {'month_name': 'December',
  'year': '2016',
  'query_count': '38',
  'query_text': 'fire'}]

In [5]:
res_dict = response.json()
res_df = pd.DataFrame.from_dict(res_dict)

In [6]:
res_df

   month_name  year query_count query_text
0     January  2016          19       fire
1    February  2016          35       fire
2       March  2016          32       fire
3       April  2016          26       fire
4         May  2016          24       fire
5        June  2016          31       fire
6        July  2016          24       fire
7      August  2016          47       fire
8   September  2016          36       fire
9     October  2016          38       fire
10   November  2016          32       fire
11   December  2016          38       fire

In [7]:
res_df.loc[res_df['query_count'] == res_df['query_count'].max()]

  month_name  year query_count query_text
7     August  2016          47       fire

### Question 2: Make an API request that returns all the times a query was run more than 100 times in a month. How many times did this occur?

In [8]:
# endpoint1 = 'https://data.nashville.gov/resource/fuaa-r5cm.json'

# params1= {
#     'query_count' : 'query_count >= 100'
# }

# response1 = requests.get(endpoint1, params = params1)

In [9]:
# response1

In [10]:
# res1 = response1.json()
# res1

In [11]:
endpoint1a = 'https://data.nashville.gov/resource/fuaa-r5cm.json?$select=month_name,count(query_text)&$where=query_count>=100&$group=month_name'

response1a = requests.get(endpoint1a)
response1a

In [12]:
res1a = response1a.json()

In [13]:
res1a

[{'month_name': 'November', 'count_query_text': '87'},
 {'month_name': 'June', 'count_query_text': '122'},
 {'month_name': 'March', 'count_query_text': '120'},
 {'month_name': 'August', 'count_query_text': '110'},
 {'month_name': 'December', 'count_query_text': '66'},
 {'month_name': 'January', 'count_query_text': '104'},
 {'month_name': 'July', 'count_query_text': '132'},
 {'month_name': 'April', 'count_query_text': '127'},
 {'month_name': 'May', 'count_query_text': '122'},
 {'month_name': 'February', 'count_query_text': '89'},
 {'month_name': 'September', 'count_query_text': '87'},
 {'month_name': 'October', 'count_query_text': '121'}]

In [14]:
res1a_dict = response1a.json()
res_df1a = pd.DataFrame.from_dict(res1a_dict)

In [15]:
res_df1a

   month_name count_query_text
0    November               87
1        June              122
2       March              120
3      August              110
4    December               66
5     January              104
6        July              132
7       April              127
8         May              122
9    February               89
10  September               87
11    October              121

### Question 3: Make another API request that returns all the times "codes" was searched more than 100 times in a month. How many times did this occur?

In [16]:
endpoint2 = 'https://data.nashville.gov/resource/fuaa-r5cm.json?$select=month_name,query_text&$where=query_count>=100, query_text=codes&$group=month_name'

response2 = requests.get(endpoint1a)
response2

In [17]:
response2.json()

[{'month_name': 'November', 'count_query_text': '87'},
 {'month_name': 'June', 'count_query_text': '122'},
 {'month_name': 'March', 'count_query_text': '120'},
 {'month_name': 'August', 'count_query_text': '110'},
 {'month_name': 'December', 'count_query_text': '66'},
 {'month_name': 'January', 'count_query_text': '104'},
 {'month_name': 'July', 'count_query_text': '132'},
 {'month_name': 'April', 'count_query_text': '127'},
 {'month_name': 'May', 'count_query_text': '122'},
 {'month_name': 'February', 'count_query_text': '89'},
 {'month_name': 'September', 'count_query_text': '87'},
 {'month_name': 'October', 'count_query_text': '121'}]

In [18]:
response2_dict = response2.json()
res_df2 = pd.DataFrame.from_dict(response2_dict)

In [19]:
res_df2

   month_name count_query_text
0    November               87
1        June              122
2       March              120
3      August              110
4    December               66
5     January              104
6        July              132
7       April              127
8         May              122
9    February               89
10  September               87
11    October              121

In [20]:
answer3 = res_df2['count_query_text'].sum()
answer3

'87122120110661041321271228987121'

In [21]:
type(res_df2['count_query_text'])

pandas.core.series.Series